{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Интерактивная карта кампуса</h2>

    <div class="map-filters">
        <button class="filter-btn active" data-filter="all">Все объекты</button>
        <button class="filter-btn" data-filter="study">Учебные заведения</button>
        <button class="filter-btn" data-filter="food">Питание</button>
        <button class="filter-btn" data-filter="dorm">Общежития</button>
    </div>

    <!-- КАРТА -->
    <div class="map-wrapper">
        <img src="{{ url_for('static', filename='maps/Фон.png') }}" class="map-bg">

        <!-- ВСЕ ЗДАНИЯ  -->
        <img src="{{ url_for('static', filename='maps/layer_5.png') }}"
             class="building dorm"
             data-title="Общежитие 5"
             data-info="Стандартное студенческое общежитие коридорного типа.<br><br><b>Внутри:</b><br>• Комнаты на 2–3 человека<br>• Кухни на этажах<br>• Прачечная<br>• Спортивный зал<br>• Тенисный зал<br>• Комната для учёбы<br><br><b>Комендант:</b> 1 этаж"
             data-link="https://vk.com/sso5_sfu"
             style="top: 85px; left:540px; width:130px; height:auto;">

        <img src="{{ url_for('static', filename='maps/layer_7ob.png') }}"
             class="building dorm"
             data-title="Общежитие 7"
             data-info="Удобное общежитие блочного типа, чаще заселяют старшекурсников.<br><br><b>Внутри:</b><br>• Комнаты блоками<br>• Душевые на блок<br>• Спорткомната<br>• Комната отдыха<br><br><b>Комендант:</b> 1 этаж"
             data-link="https://vk.com/osfu7"
             style="top:370px; left:920px; width:170px; height:auto;">

        <img src="{{ url_for('static', filename='maps/layer_11ob.png') }}"
             class="building dorm"
             data-title="Общежитие 11"
             data-info="Крупное общежитие, часто заселяют первокурсников.<br><br><b>Внутри:</b><br>• Комнаты на 2–3 человека<br>• <br>• Спортивный зал<br>• Помещения для кружков<br><br><b>Комендант:</b> 1 этаж"
             data-link="https://sfu.ru/ru/about/departments/departments-complexes/directorat_unkampus/obshezitia/host11"
             style="top:120px; left:670px; width:150px; height:auto;">

        <img src="{{ url_for('static', filename='maps/layer_30.png') }}"
             class="building study food"
             data-title="Общежитие 30"
             data-info="Самое крупное общежитие в Студгородке. На 1 этаже расположена студенческая столовая.<br><br><b>Внутри:</b><br>• Комнаты на 2–3 человека<br>• Большие кухонные зоны<br>• Прачечные<br>• Спортзал<br>• Столовая СФУ<br><br><b>Комендант:</b> 1 этаж"
             data-link="https://vk.com/osfu30"
             style="top:240px; left:680px; width:230px; height:auto;">

        <img src="{{ url_for('static', filename='maps/layer_fmsh.png') }}"
             class="building study"
             data-title="Физико-математическая школа СФУ"
             data-info="Корпус довузовской подготовки СФУ.<br><br><b>Содержит:</b><br>• Учебные аудитории<br>• Лаборатории физики и математики<br>• Центр дополнительного обучения"
             data-link="https://fms.sfu-kras.ru/"
             style="top:240px; left:400px; width:180px; height:auto;">

        <img src="{{ url_for('static', filename='maps/layer_ikit.png') }}"
             class="building study food"
             data-title="ИКИТ"
             data-info="Главный корпус института компьютерных технологий СФУ.<br><br><b>Содержит:</b><br>• Компьютерные классы<br>• Лекционные аудитории<br>• Лаборатории электроники и программирования<br>• Буфет<br>• Гардероб<br><br><b>Деканат:</b> 2 этаж, каб. 2-14"
             data-link="https://ikit.sfu-kras.ru/"
             style="top:20px; left:330px; width:200px; height:auto;">

        <img src="{{ url_for('static', filename='maps/layer_inj.png') }}"
             class="building study"
             data-title="Инженерно-строительный институт"
             data-info="Корпус инженерных направлений СФУ.<br><br><b>Содержит:</b><br>• Лаборатории материаловедения<br>• Аудитории инженерной графики<br>• Механические мастерские<br><br><b>Приемная кафедры:</b> 1 этаж, каб. 1-13"
             data-link="https://isi.sfu-kras.ru/"
             style="top:450px; left:340px; width:350px; height:auto;">

        <img src="{{ url_for('static', filename='maps/layer_poli.png') }}"
             class="building study"
             data-title="Новый политех (Новый Политехнический корпус)"
             data-info="Современный корпус СФУ с новыми лабораториями и проектными аудиториями.<br><br><b>Содержит:</b><br>• Большие мультимедийные аудитории<br>• Лаборатории с современным оборудованием<br>• Проектные зоны<br>• Кафе на 2 этаже<br><br><b>Приемная:</b> каб. 23-02"
             data-link="https://polytech.sfu-kras.ru/"
             style="top:140px; left:170px; width:230px; height:auto;">

        <img src="{{ url_for('static', filename='maps/layer_poli_new.png') }}"
             class="building study food"
             data-title="Политехнический институт (старый корпус)"
             data-info="Один из основных учебных корпусов СФУ.<br><br><b>Содержит:</b><br>• Лекционные аудитории<br>• Лаборатории физики и прочности материалов<br>• Кафедры инженерных направлений"
             style="top:340px; left:0px; width:260px; height:auto;">

        <!-- ВСПЛЫВАЮЩЕЕ ОКНО ДЛЯ ЗДАНИЯ -->
        <div id="building-popup" class="building-popup hidden"></div>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
